<div class="jumbotron">
  <h1 class="display-4">Sejam bem-vindos ao Blog Node.JS</h1>
  <p class="lead">Este é um blog foi criado exclusivamente para prática de estudos em Node.JS, Express e MongoDB.</p>
  <hr class="my-4">
  <a class="btn btn-success" href="/users/register" role="button">Crie uma conta</a>
</div>

<h2 class="mb-3 mt-5">Postagens recentes:</h2>
{{#each posts}}
    <div class="card mb-5">
        <div class="card-body">
            <h4 class="mb-3">{{title}}</h4>
            <p>{{description}}</p>
            <a href="posts/{{slug}}"><button class="btn btn-success">Leia Mais</button></a>
            <hr>
            <small>Categoria: <strong>{{category.name}}</strong></small><br>
            <small>Data de criação: {{date}}</small>
        </div>
    </div>

    {{else}}
        <div class="card">
            <div class="card-body">
                <h4 class="mt-4">Não há nenhuma postagem registrada</h4>
            </div>
        </div>
{{/each}}